//
//  Release.xcconfig
//  Trophy
//
//  Created by Oscar Lopez on 9/17/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Release.xcconfig

AMPLIFY_PINPOINT_APP_ID = $(AMPLIFY_PINPOINT_APP_ID)
AWS_REGION = $(AWS_REGION)
COGNITO_APP_CLIENT_ID = $(COGNITO_APP_CLIENT_ID)
COGNITO_IDENTITY_POOL_ID = $(COGNITO_IDENTITY_POOL_ID)
COGNITO_USER_POOL_ID = $(COGNITO_USER_POOL_ID)
TROPHY_INVOKE_PATH_GET_USER_EXERCISE_PROD = $(TROPHY_INVOKE_PATH_GET_USER_EXERCISE_PROD)
TROPHY_INVOKE_PATH_GET_USER_EXERCISES_PROD = $(TROPHY_INVOKE_PATH_GET_USER_EXERCISES_PROD)
TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_PROD = $(TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_PROD)
TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_WITH_EXERCISE_ID_PROD = $(TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_WITH_EXERCISE_ID_PROD)
TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_GPT_PROD = $(TROPHY_INVOKE_PATH_PUT_USER_EXERCISE_GPT_PROD)
TROPHY_INVOKE_PATH_DELETE_USER_EXERCISE_PROD = $(TROPHY_INVOKE_PATH_DELETE_USER_EXERCISE_PROD)
TROPHY_API_KEY_PROD = $(TROPHY_API_KEY_PROD)
